[Unit]
Description=FastAPI Application
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
Environment="PYTHONPATH={{ app_dir }}"
Environment="DATABASE_URL={{ database_url }}" # <--- ADD THIS LINE
ExecStart={{ venv_dir }}/bin/gunicorn app.main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:{{ app_port }}
Restart=always

[Install]
WantedBy=multi-user.target
